
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  background-color: var(--bg);
  height: 100%;
}
* {
  color: var(--main-color);
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: inherit;
  font-size: inherit;
  border-radius: 10px;
}


@media (hover: hover) {
  a:hover {
    
  }
}

@media (min-width: 1024px) {

}
